**/__pycache__/

imitation-learning/Atari-2600-VCS-ROM-Collection
imitation-learning/output
imitation-learning/dataset

time-series-forecasting/data
time-series-forecasting/output


toy-example-synthetic/output
toy-example-synthetic/output-old
toy-example-synthetic/wandb
wandb

toy_example_audio/output
toy_example_audio/data

misc/website-demo/output
toy-example-synthetic/output-nate/slurm_logs