**/__pycache__/

imitation-learning/Atari-2600-VCS-ROM-Collection
imitation-learning/output
imitation-learning/dataset

misc/website-demo/output

random-number-generator/llama-fourier-head-env
random-number-generator/models

time-series-forecasting/data
time-series-forecasting/output

toy_example_audio/output
toy_example_audio/data

toy-example-synthetic/output
toy-example-synthetic/output-old
toy-example-synthetic/wandb
toy-example-synthetic/output-nate/slurm_logs